
a {
  color:#000000;
 }

.bg-info {
  background-color: #1B98E0;     /* some secondary colour */
}

.navbar-light .navbar-brand {
  background-color: #1B98E0;                /* some secondary colour */
  border-color: #1B98E0;                    /* some accent colour */
  border-width: thick

}

body {
  background-color: #E8F1F2;                /* some primary colour */
  display:grid;
  height:100vh;
  width:100vw;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas: 
      "nav"
      "container py-4"
      "footer";
}

#picture {
  margin-left:25%;
  max-width: 50%;
  max-height: 50%;
  display:block;
}

/* this is the new font for my logo navbar brand */
.navbar-brand{
  font-family: ' Impact ', cursive;
  font-size: 2.25rem;
}

a:visited {
  color:aquamarine;
}
a:active {
  color:aquamarine;
}

.responsive {
  width: 100%;
  height: auto;
}
