
a {
  color:#000000;
 }

.bg-info {
  background-color: #1B98E0;     /* some secondary colour */
}

.navbar-light .navbar-brand {
  color: #1B98E0;                           /* contrast to secondary colour */
}

.btn-primary {
  color: #000000;                           /* contrast to secondary colour */
  font-size: 150%;
  background-color: #1B98E0;                /* some secondary colour */
  border-color: #1B98E0;                    /* some accent colour */
  border-width: thick
  
}

body {
  background-color: #E8F1F2;                /* some primary colour */
  display:grid;
  height:100vh;
  width:100vw;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas: 
      "nav"
      "container py-4"
      "footer";
}

nav {
  grid-area: nav;
}

.container py-4 {
  grid-area: container py-4;
}

footer {
  grid-area: footer;
}

/* this is the new font for my logo navbar brand */
.navbar-brand{
  font-family: ' Impact ', cursive;
  font-size: 2.25rem;
}

a:visited {
  color:aquamarine;
}
a:active {
  color:aquamarine;
}