.bg-info {
  background-color: #1B98E0;     /* some secondary colour */
}

.navbar-light .navbar-brand {
  /*background-color: #1B98E0;                /* some secondary colour */
  border-color: #1B98E0;                    /* some accent colour */
  border-width: thick
}

body {
  background-color: #E8F1F2;                /* some primary colour */
  display:grid;
  height:100vh;
  width:100vw;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 30% 50fr 10fr;
  grid-template-areas: 
      "nav"
      "container1"
      "container2"
      "footer";
}

.container1 {
  padding-inline: 10%;
}

.container2 {
  padding-left: 10px;
  padding-right: 10px;
}

.bus-img{
  height: 10rem;
  width: 10rem;
  object-fit: cover;
}

#newsFeedCardGroup{
  height: 18rem;
  width: 18rem;
}

/* this is the new font for my logo navbar brand */
.navbar-brand{
  font-family: ' Impact ', cursive;
  font-size: 2.25rem;
}

a:visited {
  color:aquamarine;
}
a:active {
  color:aquamarine;
}
.dropdown-item {
  color:aquamarine;
}

.bus-body {
  border-radius:1px;
}

.responsive {
  width: 100%;
  height: auto;
}

#newsFeedCardGroup {
  height: 800px; /* set a fixed height for the container */
  overflow: scroll;
}

.material-icons {
  cursor: pointer;
}
