.bg-info {
  background-color: #1B98E0;     /* some secondary colour */
}

.navbar-brand {
  color:aquamarine;
}

.container.py-4 {
  overflow: scroll;
}

body {
  background-color: #E8F1F2;                /* some primary colour */
  display:grid;
  height:100vh;
  width:100vw;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas: 
    "nav"
    "container1"
    "footer";
}

#picture {
  margin-left:25%;
  max-width: 50%;
  max-height: 50%;
  display:block;
}

/* this is the new font for my logo navbar brand */
.navbar-brand{
  font-family: ' Impact ', cursive;
  font-size: 2.25rem;
}

a:visited {
  color:aquamarine;
}
a:active {
  color:aquamarine;
}

.bus-body {
  border-radius:10px;
}

.responsive {
  width: 100%;
  height: auto;
}

.material-icons {
  color: aquamarine;
  cursor: pointer;
}
